Repository owncloud/QA, pull requests merged in 2018-03, with the labels that each got.

#525 Add test plan PR 2083: Pattern lock
  Mobile/Android/Templates/Release_2.7.0/2083-pattern_lock.md
Labels: enhancement, iOS

#542 Add check of Travis UI test results
  Server/Test_Plan_Simplified_Smoke_Test.md
Labels: 3 - To review

#543 Add test plan PR 1375: Welcome wizard
  Mobile/Android/Templates/Release_2.7.0/1375-welcome_wizard.md
Labels: Android, enhancement

#545 Add test plan PR 2128: Fingerprint lock
  Mobile/Android/Templates/Release_2.7.0/2128-fingerprint_lock.md
Labels: Android, enhancement

#546 Add test plan PR 2102: Rating dialog
  Mobile/Android/Templates/Release_2.7.0/2102-rating-dialog.md
Labels: Android, enhancement
