Repository owncloud/QA, pull requests merged in 2018-05, with the labels that each got.

#557 Add test plan PR 2175: unblock deleted account
  Mobile/Android/Templates/Release_2.8.0/2175-manage_accounts_deleted_account.md
Labels: Android, bug

#559 Add test plan PR 2150: Look of permission public links
  Mobile/Android/Templates/Release_2.8.0/2150-new_look_public_link.md
Labels: Android, enhancement

#562 mark oauth tests as automated
  Server/Test_Plan_OAuth2.md
Labels: 3 - To review, Upgrade automatic tests

#563 Add test plan PR 2214: User qouta
  Mobile/Android/Templates/Release_2.8.0/2214-user_quota.md
Labels: Android, code approved
